
html
    head 
        title I love JADE
    body(class='myClass')
        h1(id='myId') You wonder why
        p
            h3 hahaaaa.. 
        ul
            each val in list 
                li= val